!= partial("_common")
h1 Front End
.alert.alert-warning May have a mega dropdown
.alert.alert-danger Need Design : Blog List
.alert.alert-danger Need Design : Blog Archive
.alert.alert-danger Need Design : Contact Forms
.alert.alert-danger Need Design : Team Page
.alert.alert-danger Need Design : Bio (Lightbox?)
.alert.alert-danger Need Design : Events

:markdown
  ## Layouts
  ### Homepage
  ### Services
  ### Team
  ### Events