!= partial("_common")
.alert.alert-danger Not Responsive

:markdown
    # Scope
    - CMS (WordPress)
    - JavaScript (Animation)
    - JavaScript (Rich Interaction)
    - Input Form
    - CPT (Team, Event, Testimonials, Case Studies, Careers)
    - Two Blogs (separate domains) may not have to touch the blogs
    - Security / Anti-SPAM
    - Backup
    - SEO
    - Speed Optimization
    - Admin Customization (client logos)
    - Social Media Integration
    - Content Input
    - Hosting & DNS
    - Internal Search
    - Server Config
    - Analytics
    - Marketo Integration (Forms, landing pages, tracking codes)